@page "/widget/create"
@inherits WidgetBasePageClass

<PageTitle>Create Widget</PageTitle>

@if (WidgetStatuses == null || Manufacturers == null || WidgetStatuses == null)
{
    return;
}

<EditForm Model="WidgetDisplayModel" OnValidSubmit="CreateWidget">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" @bind-Value=@WidgetDisplayModel.Name AutoFocus OnlyValidateIfDirty="true" />
                    <MudSelect Label="Manufacturer" @bind-Value="@WidgetDisplayModel.ManufacturerId">
                        @foreach (var manufacturer in Manufacturers)
                        {
                            <MudSelectItem T="int" Value="@manufacturer.ManufacturerId">
                                @manufacturer.Name
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect Label="Colour" @bind-Value="WidgetDisplayModel.ColourId">
                        @foreach (var colour in Colours)
                        {
                            <MudSelectItem T="int?" Value="colour.ColourId">
                                @colour.Name
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect Label="Colour Justification" @bind-Value="WidgetDisplayModel.ColourJustificationId">
                        @foreach (var colourJustification in ColourJustifications)
                        {
                            <MudSelectItem T="int?" Value="colourJustification.ColourJustificationId">
                                @colourJustification.Justification
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect Label="Status" @bind-Value="WidgetDisplayModel.StatusId">
                        @foreach (var widgetStatus in WidgetStatuses)
                        {
                            <MudSelectItem T="int" Value="widgetStatus.StatusId">
                                @widgetStatus.StatusName
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField Label="Cost Price" @bind-Value="WidgetDisplayModel.CostPrice" />
                    <MudTextField Label="Retail Price" @bind-Value="WidgetDisplayModel.RetailPrice" />
                    <MudTextField Label="Stock Level" @bind-Value="WidgetDisplayModel.StockLevel" />
                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile" Context="FileContext">
                        <ButtonTemplate>
                            <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                StartIcon="@Icons.Material.Filled.FileUpload"
                                for="@FileContext">
                                Upload File
                            </MudButton>
                            <MudButton HtmlTag="label"
                                OnClick="RemoveImage"
                                Variant="Variant.Filled"
                                Color="Color.Error">
                                Remove Image
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                    @FileName
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    &nbsp;
                    <a class="btn btn-primary" href="/widgets/index">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>