@page "/colour/delete/{ColourId:int}"
@inherits ColourBasePageClass

<PageTitle>Delete Colour</PageTitle>

@if (ColourModel == null || ColourModel.Widgets == null)
{
    <LoadingMessageComponent ValueToShow="@Colour" />
    return;
}

@if (ColourModel.Widgets.Count > 0)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
        Cannot delete @ColourModel.Name as @ColourModel.Widgets.Count @(ColourModel.Widgets.Count == 1 ? "widget is" : "widgets are") this colour.
    </MudAlert>
    <br />
    <a class="btn btn-primary" href="/colours/index">Cancel</a>
    return;
}

<MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
    Are you sure you want to delete colour "@ColourModel.Name"?
</MudAlert>

<br />
<br />

@if (ColourModel.Widgets != null && !ColourModel.Widgets.Any())
{
    <button class="btn btn-danger" @onclick="DeleteColour">Delete</button>
    @:&nbsp;
}

<a class="btn btn-primary" href="/colours/index">Cancel</a>