@page "/search"
@inherits SearchBasePageClass

<button class="btn btn-success" hidden="@((ManufacturerSearchResults == null || ManufacturerSearchResults?.Count == 0) && (WidgetSearchResults == null || WidgetSearchResults?.Count == 0))" @onclick="ExportAsCSV">Download as CSV</button>

<EditForm Model="@SearchModel" OnValidSubmit="DoSearch">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <MudSelect T="int" Label="Search Type" @bind-Value="SearchModel.SearchType">
                        <MudSelectItem T="int" Value="@((int)SharedValues.ObjectTypes.PleaseSelect)">@SharedValues.PleaseSelectText</MudSelectItem>
                        <MudSelectItem T="int" Value="@((int)SharedValues.ObjectTypes.Manufacturer)">@SharedValues.ObjectTypes.Manufacturer</MudSelectItem>
                        <MudSelectItem T="int" Value="@((int)SharedValues.ObjectTypes.Widget)">@SharedValues.ObjectTypes.Widget</MudSelectItem>
                    </MudSelect>
                    <MudTextField Label="Name" @bind-Value="SearchModel.SearchText" />
                    <MudSelect T="int" label="Status" @bind-value="SearchModel.ActiveStatus">
                        <MudSelectItem T="int" Value="@((int)SharedValues.Statuses.Any)">@SharedValues.Statuses.Any</MudSelectItem>
                        <MudSelectItem T="int" Value="@((int)SharedValues.Statuses.Active)">@SharedValues.Statuses.Active</MudSelectItem>
                        <MudSelectItem T="int" Value="@((int)SharedValues.Statuses.Inactive)">@SharedValues.Statuses.Inactive</MudSelectItem>
                    </MudSelect>
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Search</button>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>

</EditForm>

@if (ManufacturerSearchResults != null)
{
    <ManufacturerGridViewComponent Manufacturers="@ManufacturerSearchResults" />
}

@if (WidgetSearchResults != null)
{
    <WidgetGridViewComponent Widgets="@WidgetSearchResults" />
}